main.equipe {
  width: 100%;
  .posts-container {
    display: flex;
    flex-direction: column;
    background-color: $cinza-borda;
    flex-wrap: wrap;
    width: 100%;

    .container-banner-equipe {
      margin-bottom: 21%;
      .banner-title {
        display: flex;
        width: 100%;
        height: 7rem;
        background-color: $azul-medio;

        h1 {
          align-items: baseline;
          color: $branco;
          margin: auto 0 auto 2.2rem;
          font-size: 2.5rem;
          font-weight: 500;
        }

      }

      .banner-equipe {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          width: 100%;
        }

        h1 {
          color: $branco;
          margin: -21% auto 0 auto;
          font-size: 2.4rem;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }

    section.equipe-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: fit-content;
      justify-content: space-between;
      margin: 0 auto; 
      padding: 0 5%;

      article.content-blog-article {
        flex-wrap: wrap;
        width: 30%;
        background-color: $branco-trabalhe-conosco;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 10%;
        //No media queria de +1400 de width mudar para 25% o margin bottom acima
        img {
          border-radius: 10px 10px 0 0;
          width: 100%;
        }

        h2 {
          margin: 0.5rem 0 0  1rem;
          line-height: 20px;
        }

        h2 > a {
          color: $azul-medio2;
          font-size: 1.2rem;
          font-weight: bold;
          text-decoration: none;
        }

        h6 {
          margin-left: 1rem;
          font-size: 0.8rem;
        }

        button {
          width: 45%;
          border: solid 2px $azul-claro;
          border-radius: 18px;
          margin: 1rem 0 1rem 1rem;
          padding: 0.5rem;

        }

        button > a {
          text-decoration: none;
          font-size: 0.7rem;
          color: $azul-claro;
          font-weight: bold;
        }
      
      }
    }    
  }
  section.work-with-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $azul-medio2;
    }
    button {
      width: 15%;
    }
  }
}