@import "designSystem";

.nav-container {
  width: 100%;
  position: absolute;
  z-index: 999;
}

.grad {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
  background-image: linear-gradient(to right, $azul-escuro, $azul-medio);
  a {
    margin-right: 3rem;
    display: flex;
    color: $branco;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
}

.nav-ul {
  background-color: $branco-transparente;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  li {
    color: $azul-medio2;
    text-transform: uppercase;    
  }

  .logo-weblaudo {
    height: 7rem;
    margin:0 3rem 0 3rem;
  }
  
}

.btn-work-with-us {
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: $azul-medio2;
  color: $branco;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  outline: 0cm;
  border: transparent;
  margin:0 3rem 0 3rem;
}

