@import "designSystem";

.nav-container {
  width: 100%;
  position: absolute;
  z-index: 999;
}

.grad {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
  background-image: linear-gradient(to right, $azul-escuro, $azul-medio);
  a {
    margin-right: 3rem;
    display: flex;
    color: $branco;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
}

.nav-ul {
  background-color: $branco-transparente;
  width: 100%;
  // height: 7rem;

  display: flex;
  align-items: center;
  z-index: 9999;
  li {
    font-size: 1rem;
    color: $azul-medio2;
    text-transform: uppercase;    
    font-weight: bold; 
    margin: 0 auto;   
  }
  

  .logo-weblaudo {
    // height: 7rem;
    // height: 20%;
    max-width: 10rem;
    margin:0 5% 0 5%;
  }
  
}

.btn-work-with-us {
  width: 80%;
  height: 2.75rem;
  border-radius: 3rem;
  background-color: $azul-medio2;
  color: $branco;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  outline: 0cm;
  border: transparent;
  margin:0 2rem 0 2rem;
}


@media (max-width: 1350px)
{
  .grad {
    a {
      margin-right: 1.5rem;
    }
  }


  .nav-ul {
    align-items: center;
    justify-content: center;
    li {
      font-size: 0.8rem;
      color: $azul-medio2;
      text-transform: uppercase;    
      font-weight: bold; 
      margin: 0 auto;   
    }
}

.logo-weblaudo {
  // height: 7rem;
  // height: 20%;
  max-width: 10rem;
  margin:0 5% 0 5%;
}

  .btn-work-with-us {
    width: 70%;
    height: 2.75rem;
    border-radius: 3rem;
    background-color: $azul-medio2;
    color: $branco;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: bold;
    outline: 0cm;
    border: transparent;
    margin:0 2.2rem 0 2.2rem;
  }

}
