.home {
  width: 100%;
  .posts-container {
    display: flex;
    flex-direction: column;
    background-color: $cinza-borda;
    flex-wrap: wrap;
    width: 100%;

    .container-banner-contato {
      .banner-title {
        display: flex;
        width: 100%;
        height: 7rem;
        background-color: $azul-medio;
  
        h1 {
          align-items: baseline;
          color: $branco;
          margin: auto 0 auto 2.2rem;
          font-size: 2.5rem;
          font-weight: 500;
        }
  
      }
    }

    .content-blog-container {
      display: flex;
      flex-direction: row;
      width: 90%;
      // background-color: green;
      justify-content: space-between;
      margin: 2rem auto;
      height: auto;


      .content-blog-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        justify-content: space-around;

        .content-blog-article {
          flex-wrap: wrap;
          width: 50%;

          .thumb-post-banco {
            flex-wrap: wrap;
            width: 90%;
          }

          .thumb-title-banco {
            display: flex;
            justify-content: flex-start;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0.5rem 0 4px 0;

            a {
              width: 100%;
              height: fit-content;
              font-size: 1.4rem;
              text-decoration: none;
              color: $azul-medio2;
              font-weight: bold;
            }

            a:visited {
              color: $azul-medio2;
            }
          }

          .excerpt-banco {
            display: flex;
            justify-content: flex-start;
            width: 90%;
            margin-bottom: 4px;

          }

          .saiba-mais-banco {
            display: flex;
            justify-content: flex-start;
            height: 100%;
            width: 100%;

            .saiba-mais-banco-a {
              width: 100%;
              font-size: 0.7rem;
              text-decoration: none;
              color: $azul-medio;
              font-weight: bold;
            }

            .saiba-mais-banco-a:visited {
              color: $azul-medio;
            }
          }
        }

        .nav-pagination-wrapper {
          display: flex;
          width: 100%;

          nav.pagination {
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10px, 4fr));

            .nav-border-right {
              border-right: 1px solid grey;
              height: 100%;
              width: 1px;
              margin: 0 4px;
            }

            a,
            span {
              flex-wrap: wrap;
              padding: 8px;
              text-decoration: none;
              color: $azul-medio2;
              font-weight: bold;
              height: 16px;
              width: 16px;
              text-align: center;
              margin: 1rem;
            }

            a:visited,
            span:visited {
              text-decoration: none;
              color: $azul-medio2;
            }

          }
        }
      }

      .aside-container {
        background-color: $branco-trabalhe-conosco;
        flex-wrap: wrap;
        padding: 0 1.5% 1.5% 1.5%;
        border-radius: 12px;
        height: fit-content;

        div {
          div {
            h4 {
              margin-left: 8px;
              padding-top: 1.2rem;
              font-size: 0.8rem;
              font-weight: bold;
              color: $azul-medio2;
            }

            .linha-aside {
              display: flex;
              justify-content: center;
              width: 100%;
              border: 1px solid $azul-medio;
              margin: 8px 0;
            }

            ul {
              li {

                a {
                  border-bottom: 1px solid $cinza-claro;
                  text-decoration: none;
                  font-size: 1rem;
                  font-weight: bold;
                  color: $azul-medio2;
                  margin: 12px 0 0 8px;
                  height: 2rem;
                }
              }
            }
          }
        }
      }

      .mais-vistas-container {
        margin-top: 2rem;

        .h4-aside-config {
          color: $azul-claro !important;
          border-bottom: 0px;

        }

        ul {
          .li-lista-2 {
            a {
              border-bottom: 0px;
            }
          }
        }
      }

    }
  }

  .current {
    color: $branco !important;
    background-color: $azul-claro;
    border-radius: 8px;
  }

  .next,
  .prev {
    display: none;
  }

}