
.carousel img{
  margin-top: -7rem;
  height: 53.125rem;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.float-box-home1 {
  margin: -26rem 31% 0 31%;
  width: 38%;
  background-color: $azul-escuro-transparente;
  position: absolute;
  z-index: 999;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1,h4 {
    color: $branco;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1rem;
    text-align: center;
  }


  .button-wrapper-home1 {    
    display: flex;
    justify-content: space-around;

    .btn1 {
      margin-right: 0.5rem;
    }

    .btn2 {
      margin-left: 0.5rem;
    }
   
    .btn-index-sec1 {
    height: 3rem;
    width: 15.5rem;
    border-radius: 0.5rem;
    background-color: $azul-medio;
    color: $branco;
    text-transform: uppercase;
    font-size: 0.9rem;
    outline: 0cm;
    border: transparent; 
  }
}


}

.servicos {    
  display: flex;  
  flex-direction: column;
  text-align: center;
  padding-top: 7rem;
  background-color: $azul-claro-sec2;
  margin: -7rem 0 -7rem 0;
  height: 42rem;

  h1 {
    text-align: center;
    color: $azul-medio;
    font-size: 2rem;
    font-weight: bold;
  }

  h4 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;

    strong {
      font-weight: bold;
    }
  }

  .servicos-content{
    display: flex;
    justify-content: space-around;
    ul{    
      display: flex;  
      flex-direction: row;
      text-align: center;
      li{
        width: 12.3rem;
        margin: 0 1.2rem 0 1.2rem;
        line-height: 1.2;
        font-weight:600;
        img{
          margin-bottom: 0.5rem;
        }
        h5 {
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }

  }

  .servicos-divider{
    border-bottom: 0.2rem $laranja-botao solid;
    margin: 2rem 47% 2rem 47%;    
  }

  .servicos-divider-2{
    border-bottom: 0.2rem $laranja-botao solid;
    margin: 3rem 47% 1.6rem 47%;    
  }

  .servicos-p {
    font-size: 1rem;
    font-weight:600;    
  }

  .btn-contato-orange {
    display: flex;
    height: 3.5rem;
    border-radius: 0.25rem;
    color: $branco;
    font-size: 1.1rem;
    outline: 0cm;
    border: transparent; 
    background-color: $laranja-botao;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 40% 2rem 40%;
    letter-spacing: 1.5px ;
    font-family: Montserrat;
  }
}

.index-sec-3 {    
  display: flex;  
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: $icons-white;
  height: 40rem;

  .sec-3-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100%;
    width: 50%;

  .index-sec-3-banner {  
    height: 30rem;
    }
  }

  .sec-3-content {    
      width: 50%;
      margin: 4.7rem 5% 0 5%;    
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

    h1 {
      color: $azul-medio2;
      font-weight: bold;
      font-size: 2rem;
      text-align: left;
      margin-bottom:1.5rem;
      line-height: 1.2; 
    }

    h4 {
      color: $azul-medio2;
      font-size: 1.2rem;
      text-align: left;
      line-height: 1.4; 
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

    .sec-3-ul {
      display: flex;
      flex-direction: column;
      color: $azul-medio2;
      align-items: flex-start;
      margin: 2rem 0 0 3rem;

      li {
        list-style-type: disc;
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 2;
      }
    }

  }

}

.faq {
  background-color: $azul-faq;
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    color: $azul-medio2;
    justify-content: flex-start;
    margin: 3rem 0 3rem 20%;
    font-weight: bold;
    font-size: 2rem;
  }

  .accordion {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    .accordion-item{
      margin: 0 0 2rem 0;
      padding: 0 0 2rem 0;
      background-color: $azul-faq;
      border-bottom: 1px solid $azul-medio;
      .accordion-item-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $azul-medio2;
        h3 {
          font-size: 1.4rem;
          font-weight: bold;
          span {
            color: $azul-medio;
          }
        }
      }

    //   .accordion-item-header::after {
    //     font-family: "Font Awesome 5 Free";
    //     content: "\f078";
    //   }
    // }
    //   .accordion-item-header.active {
    //     font-family: "Font Awesome 5 Free";
    //     content: "\f077";
      .accordion-item-body {
        display: none;
      }
      }
    }

    .duvida {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin: 3rem 0 5rem 20%;
      p {
        align-items: center;
        justify-content: center;
        color:$azul-medio2;
        font-size: 1.4rem;
        font-weight: bold;
      }

      button {
        background-color: transparent;
        color: $azul-medio;
        border: solid $azul-medio 2px;
        margin-left: 0.5rem;
        padding: 1rem 2rem;
        border-radius: 8px;
      }

    }

}



.uppercase {
  text-transform: uppercase;
}

.wp-icon {

  img {
    height: 5rem;
    width: 5rem;    
    position:fixed;
    right: 4rem;
    bottom: 2rem;
  }
}
