/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, p, h1, h2, h3, h4, h5, h6, li, input, select, textarea, span {
  font-family: 'Titillium Web', sans-serif;
}

a, p, h5, h6, li, span {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-hover:hover {
  opacity: 0.9;
  cursor: pointer;
}

.nav-container {
  width: 100%;
  position: absolute;
  z-index: 999;
}

.grad {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
  background-image: linear-gradient(to right, #182E5F, #3BA6DE);
}

.grad a {
  margin-right: 3rem;
  display: flex;
  color: #F2FEFC;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.nav-ul {
  background-color: #ffffff8a;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.nav-ul li {
  font-size: 1rem;
  color: #16477F;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

.nav-ul .logo-weblaudo {
  max-width: 10rem;
  margin: 0 5% 0 5%;
}

.btn-work-with-us {
  width: 80%;
  height: 2.75rem;
  border-radius: 3rem;
  background-color: #16477F;
  color: #F2FEFC;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  outline: 0cm;
  border: transparent;
  margin: 0 2rem 0 2rem;
}

@media (max-width: 1350px) {
  .grad a {
    margin-right: 1.5rem;
  }
  .nav-ul {
    align-items: center;
    justify-content: center;
  }
  .nav-ul li {
    font-size: 0.8rem;
    color: #16477F;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
  }
  .logo-weblaudo {
    max-width: 10rem;
    margin: 0 5% 0 5%;
  }
  .btn-work-with-us {
    width: 70%;
    height: 2.75rem;
    border-radius: 3rem;
    background-color: #16477F;
    color: #F2FEFC;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: bold;
    outline: 0cm;
    border: transparent;
    margin: 0 2.2rem 0 2.2rem;
  }
}

main.inicio .carousel img {
  margin-top: -7rem;
  height: 38rem;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

main.inicio .float-box-home1 {
  margin: -20.5rem 30% 0 30%;
  width: 40%;
  min-width: 20rem;
  background-color: #0b1731de;
  position: absolute;
  z-index: 999;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main.inicio .float-box-home1 h1,
main.inicio .float-box-home1 h4 {
  color: #F2FEFC;
  margin-bottom: 1rem;
}

main.inicio .float-box-home1 h1 {
  font-size: 2.5rem;
}

main.inicio .float-box-home1 h4 {
  font-size: 1rem;
  text-align: center;
}

main.inicio .float-box-home1 .button-wrapper-home1 {
  display: flex;
  justify-content: space-around;
}

main.inicio .float-box-home1 .button-wrapper-home1 .btn1 {
  margin-right: 0.5rem;
}

main.inicio .float-box-home1 .button-wrapper-home1 .btn2 {
  margin-left: 0.5rem;
}

main.inicio .float-box-home1 .button-wrapper-home1 .btn-index-sec1 {
  height: 3rem;
  width: 15.5rem;
  border-radius: 0.5rem;
  background-color: #3BA6DE;
  color: #F2FEFC;
  text-transform: uppercase;
  font-size: 0.9rem;
  outline: 0cm;
  border: transparent;
}

@media screen and (max-width: 1050px) {
  main.inicio .float-box-home1 {
    margin: -22rem 27.5% 0 27.5%;
    width: 45%;
  }
  main.inicio .float-box-home1 .button-wrapper-home1 .btn-index-sec1 {
    width: 11rem;
  }
}

@media screen and (max-width: 1250px) {
  main.inicio .float-box-home1 .button-wrapper-home1 .btn-index-sec1 {
    width: 13rem;
  }
}

main.inicio .servicos {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 7rem;
  background-color: #E6F4F8;
  margin: -7rem 0 -7rem 0;
  height: 42rem;
}

main.inicio .servicos h1 {
  text-align: center;
  color: #3BA6DE;
  font-size: 2rem;
  font-weight: bold;
}

main.inicio .servicos h4 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

main.inicio .servicos h4 strong {
  font-weight: bold;
}

main.inicio .servicos .servicos-content {
  display: flex;
  justify-content: space-around;
}

main.inicio .servicos .servicos-content ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}

main.inicio .servicos .servicos-content ul li {
  width: 18%;
  margin: 0 auto;
  line-height: 1.2;
  font-weight: 600;
}

main.inicio .servicos .servicos-content ul li img {
  margin-bottom: 0.5rem;
}

main.inicio .servicos .servicos-content ul li h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

main.inicio .servicos .servicos-divider {
  border-bottom: 0.2rem #3BA6DE solid;
  margin: 2rem 47% 2rem 47%;
}

main.inicio .servicos .servicos-divider-2 {
  border-bottom: 0.2rem #3BA6DE solid;
  margin: 3rem 47% 1.6rem 47%;
}

main.inicio .servicos .servicos-p {
  font-size: 1rem;
  font-weight: 600;
}

main.inicio .servicos .btn-contato-orange {
  display: flex;
  height: 3.5rem;
  border-radius: 0.25rem;
  color: #F2FEFC;
  font-size: 1.1rem;
  outline: 0cm;
  border: transparent;
  background-color: #3BA6DE;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 40% 2rem 40%;
  letter-spacing: 1.5px;
  font-family: Montserrat;
}

main.inicio .index-sec-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #FFFFFF;
  height: 40rem;
}

main.inicio .index-sec-3 .sec-3-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

main.inicio .index-sec-3 .sec-3-banner-container .index-sec-3-banner {
  height: 30rem;
}

main.inicio .index-sec-3 .sec-3-content {
  width: 50%;
  margin: 4.7rem 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main.inicio .index-sec-3 .sec-3-content h1 {
  color: #16477F;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

main.inicio .index-sec-3 .sec-3-content h4 {
  color: #16477F;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

main.inicio .index-sec-3 .sec-3-content .sec-3-ul {
  display: flex;
  flex-direction: column;
  color: #16477F;
  align-items: flex-start;
  margin: 2rem 0 0 3rem;
}

main.inicio .index-sec-3 .sec-3-content .sec-3-ul li {
  list-style-type: disc;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2;
}

main.inicio .faq {
  background-color: #EBF5FB;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main.inicio .faq h2 {
  color: #16477F;
  justify-content: flex-start;
  margin: 5rem 0 3rem 20%;
  font-weight: bold;
  font-size: 1.6rem;
}

main.inicio .faq .accordion {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

main.inicio .faq .accordion .accordion-item {
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
  background-color: #EBF5FB;
  border-bottom: 1px solid #3BA6DE;
}

main.inicio .faq .accordion .accordion-item .accordion-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #16477F;
}

main.inicio .faq .accordion .accordion-item .accordion-item-header h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

main.inicio .faq .accordion .accordion-item .accordion-item-header h3 span {
  color: #3BA6DE;
}

main.inicio .faq .accordion .accordion-item .accordion-item-body {
  display: none;
  color: #16477F;
  margin: 2.5% 5% 0 0;
  font-weight: bold;
}

main.inicio .faq .active .accordion-item .accordion-item-body {
  display: block;
}

main.inicio .faq .active i {
  transform: rotateZ(-180deg);
}

main.inicio .faq .duvida {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 3rem 0 5rem 20%;
}

main.inicio .faq .duvida p {
  align-items: center;
  justify-content: center;
  color: #16477F;
  font-size: 1.2rem;
  font-weight: bold;
}

main.inicio .faq .duvida button {
  background-color: transparent;
  color: #3BA6DE;
  border: solid #3BA6DE 2px;
  margin-left: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 8px;
}

main.inicio .work-with-us {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
}

main.inicio .work-with-us h1 {
  align-items: center;
  justify-content: left;
  margin: 3rem 0 1rem 15%;
  font-size: 1.4rem;
  font-weight: bold;
  color: #16477F;
}

main.inicio .work-with-us h6 {
  align-items: center;
  justify-content: left;
  margin: 1rem 0 3rem 15%;
  line-height: 1.3;
  color: #16477F;
  font-size: 1.2rem;
  font-weight: bold;
}

main.inicio .work-with-us .home-form-container {
  width: 70%;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
}

main.inicio .work-with-us .home-form-container .form-home {
  display: flex;
  flex-direction: column;
}

main.inicio .work-with-us .home-form-container .form-home textarea {
  outline: #d5d4d4 !important;
  border-color: #d5d4d4 !important;
}

main.inicio .work-with-us .home-form-container .form-home input {
  flex-direction: row;
  align-items: center;
  width: 48.5%;
  height: 2.4rem;
  margin-bottom: 8px;
  border: 1px solid #d5d4d4;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container #cidade {
  flex-direction: row;
  align-items: center;
  width: 48.5%;
  height: 2.4rem;
  margin-bottom: 8px;
  border: 1px solid #d5d4d4;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .custom-select {
  position: relative;
  width: 48.5%;
  font-family: 'Titillium Web', sans-serif;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .custom-select select {
  display: none;
  /*hide original SELECT element: */
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-selected {
  height: 1.2rem;
  margin: 4px 0;
  background-color: #FFFFFF;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #0C88D1 transparent transparent transparent;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-items div,
main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-selected {
  color: #b0b0b0;
  padding: 8px 9px;
  border: 1px solid #d5d4d4;
  border-color: #d5d4d4;
  border-radius: 6px;
  cursor: pointer;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-items {
  position: absolute;
  background-color: #FFFFFF;
  margin: 4px 0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-hide {
  display: none;
}

main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .select-items div:hover,
main.inicio .work-with-us .home-form-container .form-home div.custom-select-container .same-as-selected {
  background-color: rgba(204, 204, 204, 0.1);
}

main.inicio .work-with-us .home-form-container .form-home p {
  margin-top: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #b0b0b0;
}

main.inicio .uppercase {
  text-transform: uppercase;
}

main.inicio .wp-icon img {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 4rem;
  bottom: 2rem;
}

main.inicio #hosp::placeholder,
main.inicio #nome::placeholder,
main.inicio #cidade::placeholder,
main.inicio #estado::placeholder,
main.inicio #email::placeholder,
main.inicio #tel::placeholder {
  padding: 0 0 0 5%;
}

main.inicio #mensagem::placeholder {
  padding: 2.5% 2.5% 0 2.5%;
}

main.inicio #myfile {
  margin: 1.2rem 0 2.5rem 0;
}

main.inicio input[type="file"],
main.inicio input[type="submit"] {
  display: none;
}

main.inicio .label-file {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: black;
  background-color: #d5d4d4;
  font-family: 'Titillium Web', sans-serif;
  width: 9rem;
  height: 2.4rem;
  margin: 1rem 0;
  transition: 0.5s;
}

main.inicio .submit-file {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #F2FEFC;
  background-color: #0C88D1;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  height: 3rem;
  margin: 1rem 0;
  transition: 0.5s;
  width: 100%;
}

.home {
  width: 100%;
}

.home .posts-container {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  flex-wrap: wrap;
  width: 100%;
}

.home .posts-container .container-banner-contato .banner-title {
  display: flex;
  width: 100%;
  height: 7rem;
  background-color: #3BA6DE;
}

.home .posts-container .container-banner-contato .banner-title h1 {
  align-items: baseline;
  color: #F2FEFC;
  margin: auto 0 auto 2.2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.home .posts-container .content-blog-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: 2rem auto;
  height: auto;
}

.home .posts-container .content-blog-container .content-blog-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: space-around;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article {
  flex-wrap: wrap;
  width: 50%;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .thumb-post-banco {
  flex-wrap: wrap;
  width: 90%;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .thumb-title-banco {
  display: flex;
  justify-content: flex-start;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5rem 0 4px 0;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .thumb-title-banco a {
  width: 100%;
  height: fit-content;
  font-size: 1.4rem;
  text-decoration: none;
  color: #16477F;
  font-weight: bold;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .thumb-title-banco a:visited {
  color: #16477F;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .excerpt-banco {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 4px;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .saiba-mais-banco {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .saiba-mais-banco .saiba-mais-banco-a {
  width: 100%;
  font-size: 0.7rem;
  text-decoration: none;
  color: #3BA6DE;
  font-weight: bold;
}

.home .posts-container .content-blog-container .content-blog-section .content-blog-article .saiba-mais-banco .saiba-mais-banco-a:visited {
  color: #3BA6DE;
}

.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper {
  display: flex;
  width: 100%;
}

.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper nav.pagination {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 4fr));
}

.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper nav.pagination .nav-border-right {
  border-right: 1px solid grey;
  height: 100%;
  width: 1px;
  margin: 0 4px;
}

.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper nav.pagination a,
.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper nav.pagination span {
  flex-wrap: wrap;
  padding: 8px;
  text-decoration: none;
  color: #16477F;
  font-weight: bold;
  height: 16px;
  width: 16px;
  text-align: center;
  margin: 1rem;
}

.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper nav.pagination a:visited,
.home .posts-container .content-blog-container .content-blog-section .nav-pagination-wrapper nav.pagination span:visited {
  text-decoration: none;
  color: #16477F;
}

.home .posts-container .content-blog-container .aside-container {
  background-color: #F7F7F7;
  flex-wrap: wrap;
  padding: 0 1.5% 1.5% 1.5%;
  border-radius: 12px;
  height: fit-content;
}

.home .posts-container .content-blog-container .aside-container div div h4 {
  margin-left: 8px;
  padding-top: 1.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #16477F;
}

.home .posts-container .content-blog-container .aside-container div div .linha-aside {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #3BA6DE;
  margin: 8px 0;
}

.home .posts-container .content-blog-container .aside-container div div ul li a {
  border-bottom: 1px solid #d5d4d4;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #16477F;
  margin: 12px 0 0 8px;
  height: 2rem;
}

.home .posts-container .content-blog-container .mais-vistas-container {
  margin-top: 2rem;
}

.home .posts-container .content-blog-container .mais-vistas-container .h4-aside-config {
  color: #53CBF4 !important;
  border-bottom: 0px;
}

.home .posts-container .content-blog-container .mais-vistas-container ul .li-lista-2 a {
  border-bottom: 0px;
}

.home .current {
  color: #F2FEFC !important;
  background-color: #53CBF4;
  border-radius: 8px;
}

.home .next,
.home .prev {
  display: none;
}

.nav-container {
  position: relative;
}

.nav-ul {
  background-color: #F2FEFC;
}

.container-banner-quem-somos .banner-title {
  display: flex;
  z-index: 99;
  width: 100%;
  height: 7rem;
  background-color: #3BA6DE;
}

.container-banner-quem-somos .banner-title h1 {
  align-items: baseline;
  color: #F2FEFC;
  margin: auto 0 auto 2.2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.container-banner-quem-somos .banner-quem-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-banner-quem-somos .banner-quem-somos img {
  width: 100%;
}

.container-banner-quem-somos .banner-quem-somos h1 {
  color: #F2FEFC;
  margin: -20% auto 0 auto;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (min-width: 1150px) {
  .container-banner-quem-somos {
    margin-bottom: 4rem;
  }
}

.quem-somos-content {
  display: flex;
  flex-direction: column;
  padding: 14rem 0 0 0;
  background-color: #F7F7F7;
}

.quem-somos-content .container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quem-somos-content .container-1 img {
  width: 42%;
  height: 100%;
  border-radius: 16px;
  margin-right: 7.5%;
}

.quem-somos-content .container-1 p {
  margin-left: 7.5%;
  width: 38%;
  line-height: 1.8;
  font-size: 1rem;
  color: #16477F;
  hyphens: auto;
  text-align: justify;
  font-weight: 600;
}

.quem-somos-content .container-2 {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.quem-somos-content .container-2 img {
  width: 42%;
  height: 100%;
  border-radius: 16px;
  margin-left: 7.5%;
}

.quem-somos-content .container-2 p {
  margin-right: 7.5%;
  width: 38%;
  line-height: 1.8;
  font-size: 1rem;
  color: #16477F;
  hyphens: auto;
  text-align: justify;
  font-weight: 600;
}

.quem-somos-content .card-conteiner-quem-somos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  width: 40%;
  border-radius: 1rem;
  margin: 0 0 4rem 7.5%;
  height: max-content;
  height: 30rem;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 img {
  width: 80%;
  margin: 0 auto;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 p {
  margin: 1rem auto;
  width: 90%;
  line-height: 1.4;
  font-size: 1rem;
  color: #16477F;
  hyphens: auto;
  text-align: justify;
  font-weight: 600;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 .text-container-somos {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  margin: 1.2rem 0 0.4rem 1rem;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 .text-container-somos h2 {
  font-size: 2rem;
  color: #16477F;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 .text-container-somos .como-h2 {
  margin-left: 1rem;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 .text-container-somos .como-funciona-line {
  display: flex;
  height: 1.2rem;
  width: 100%;
  border-bottom: 3px solid #16477F;
  margin-left: 8px;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-2 {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 40%;
  color: #16477F;
  border-radius: 1rem;
  margin: 0 7.5% 4rem 0;
  height: 30rem;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-2 p {
  margin: 1rem auto;
  width: 90%;
  line-height: 1.4;
  font-size: 1rem;
  color: #16477F;
  hyphens: auto;
  text-align: justify;
  font-weight: 600;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-2 .text-container-somos {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  margin: 1.2rem 0 0.4rem 1rem;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-2 .text-container-somos h2 {
  font-size: 2rem;
  color: #16477F;
}

.quem-somos-content .card-conteiner-quem-somos .card-quem-somos-2 .text-container-somos .como-funciona-line {
  display: flex;
  height: 1.2rem;
  width: 100%;
  border-bottom: 3px solid #16477F;
  margin-left: 8px;
}

.strong-h2 {
  font-weight: bold;
  margin-left: 8px;
}

@media screen and (max-width: 958px) {
  .container-banner-quem-somos .banner-quem-somos h1 {
    font-size: 1.5rem;
  }
  .quem-somos-content .card-conteiner-quem-somos .card-quem-somos-1 {
    height: 35.5rem;
  }
  .quem-somos-content .card-conteiner-quem-somos .card-quem-somos-2 {
    height: 35.5rem;
  }
}

main.servicos .nav-container {
  position: relative;
}

main.servicos .nav-ul {
  background-color: #F2FEFC;
}

main.servicos .container-banner-servicos .banner-title {
  display: flex;
  width: 100%;
  height: 7rem;
  background-color: #3BA6DE;
}

main.servicos .container-banner-servicos .banner-title h1 {
  align-items: baseline;
  color: #F2FEFC;
  margin: auto 0 auto 2.2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

main.servicos .container-banner-servicos img {
  width: 100%;
}

main.servicos .container-banner-servicos .banner-servicos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main.servicos .container-banner-servicos .banner-servicos div {
  margin: -35% 0 0 -15%;
  color: #F2FEFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.4;
}

main.servicos .container-banner-servicos .banner-servicos div h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
}

main.servicos .container-banner-servicos .banner-servicos div h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 2px #3BA6DE;
  margin-left: 8px;
  font-size: 1.8rem;
}

main.servicos .container-banner-servicos .banner-servicos h3 {
  color: #F2FEFC;
  font-size: 1.8rem;
  margin: 8px 0 0 15%;
}

main.servicos .container-banner-servicos .servicos-line {
  border: solid 2px #16477F;
}

main.servicos .addon-card-servicos {
  margin-top: 3.5%;
}

@media screen and (min-width: 1150px) {
  main.servicos .container-banner-servicos .banner-title {
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: #3BA6DE;
  }
  main.servicos .container-banner-servicos .banner-title h1 {
    align-items: baseline;
    color: #F2FEFC;
    margin: auto 0 auto 2.2rem;
    font-size: 2.5rem;
    font-weight: 500;
  }
  main.servicos .container-banner-servicos img {
    width: 100%;
  }
  main.servicos .container-banner-servicos .banner-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main.servicos .container-banner-servicos .banner-servicos div {
    margin: -35% 0 0 -15%;
    color: #F2FEFC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1.4;
  }
  main.servicos .container-banner-servicos .banner-servicos div h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.2rem;
  }
  main.servicos .container-banner-servicos .banner-servicos div h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 2px #3BA6DE;
    margin-left: 8px;
    font-size: 2.2rem;
  }
  main.servicos .container-banner-servicos .banner-servicos h3 {
    color: #F2FEFC;
    font-size: 2.2rem;
    margin: 8px 0 0 15%;
  }
}

main.servicos .container-sub-content-servicos {
  margin-top: -8px;
  background-color: #3BA6DE;
  display: flex;
  justify-content: center;
}

main.servicos .container-sub-content-servicos p {
  font-size: 1.4rem;
  color: #F7F7F7;
  width: 90%;
  padding: 2rem 0;
  font-style: italic;
  font-weight: 600;
  hyphens: auto;
  text-align: justify;
  line-height: 1.4;
}

main.servicos .page-servicos-content {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}

main.servicos .page-servicos-content .container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

main.servicos .page-servicos-content .container-1 img {
  width: 42%;
  height: 100%;
  border-radius: 16px;
  margin-right: 7.5%;
}

main.servicos .page-servicos-content .container-1 p {
  margin-left: 7.5%;
  width: 38%;
  line-height: 1.4;
  font-size: 1rem;
  color: #16477F;
  hyphens: auto;
  text-align: justify;
  font-weight: 600;
}

main.servicos .page-servicos-content .container-2 {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

main.servicos .page-servicos-content .container-2 img {
  width: 42%;
  height: 100%;
  border-radius: 16px;
  margin-left: 7.5%;
}

main.servicos .page-servicos-content .container-2 p {
  margin-right: 7.5%;
  width: 38%;
  line-height: 1.4;
  font-size: 1rem;
  color: #16477F;
  hyphens: auto;
  text-align: justify;
  font-weight: 600;
}

main.servicos .page-servicos-content .card-conteiner-servicos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 40%;
  border-radius: 1rem;
  margin: 0 0 4rem 7.5%;
  height: max-content;
  height: 27.5rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 ul {
  margin-left: 1rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 ul li {
  margin: 1rem auto;
  width: 90%;
  line-height: 1.35;
  font-size: 1.2rem;
  color: #16477F;
  hyphens: auto;
  font-weight: 600;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 ul li::before {
  margin-right: 4px;
  content: "\25CF";
  border-radius: 10rem;
  font-size: 1rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 .text-container-somos {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  margin: 1.2rem 0 0.4rem 1rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 .text-container-somos h2 {
  font-size: 2rem;
  color: #16477F;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 .text-container-somos .como-h2 {
  margin-left: 1rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 .text-container-somos .como-funciona-line {
  display: flex;
  height: 1.2rem;
  width: 100%;
  border-bottom: 3px solid #16477F;
  margin-left: 8px;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 {
  display: flex;
  flex-direction: column;
  background-color: #16477F;
  width: 40%;
  color: #FFFFFF;
  border-radius: 1rem;
  margin: 0 7.5% 4rem 0;
  height: 27.5rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 ul {
  margin-left: 1rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 ul li {
  margin: 1rem auto;
  width: 90%;
  line-height: 1.35;
  font-size: 1.2rem;
  color: #FFFFFF;
  hyphens: auto;
  font-weight: 600;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 ul li::before {
  margin-right: 4px;
  content: "\25CF";
  border-radius: 10rem;
  font-size: 1rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 .text-container-somos {
  display: flex;
  flex-direction: row;
  background-color: #16477F;
  margin: 1.2rem 0 0.4rem 2rem;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 .text-container-somos h2 {
  font-size: 2rem;
  color: #FFFFFF;
}

main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 .text-container-somos .como-funciona-line-2 {
  display: flex;
  height: 1.2rem;
  width: 100%;
  border-bottom: 3px solid #FFFFFF;
  margin-left: 8px;
}

main.servicos .strong-h2 {
  font-weight: bold;
  margin-left: 8px;
}

@media screen and (max-width: 958px) {
  main.servicos .container-banner-servicos .banner-servicos h1 {
    font-size: 1.5rem;
  }
  main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-1 {
    height: 35.5rem;
  }
  main.servicos .page-servicos-content .card-conteiner-servicos .card-servicos-2 {
    height: 35.5rem;
  }
}

main.servicos .addon-servicos {
  margin: 0 auto 0 auto;
  height: 25rem;
  padding: 0;
}

main.servicos .addon-servicos ul {
  padding: 2rem;
}

main.servicos .addon-servicos .servicos-divider-2 {
  margin-top: 0;
}

main.contato .nav-container {
  position: relative;
}

main.contato .nav-ul {
  background-color: #F2FEFC;
}

main.contato .container-banner-contato .banner-title {
  display: flex;
  width: 100%;
  height: 7rem;
  background-color: #3BA6DE;
}

main.contato .container-banner-contato .banner-title h1 {
  align-items: baseline;
  color: #F2FEFC;
  margin: auto 0 auto 2.2rem;
  font-size: 2.5rem;
  font-weight: 500;
}

main.contato .container-contato {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 2.5%;
}

main.contato .container-contato .adress-container {
  margin: 3rem 0 0 1%;
  width: 20%;
}

main.contato .container-contato .adress-container div {
  margin-bottom: 1.5rem;
}

main.contato .container-contato .adress-container h3,
main.contato .container-contato .adress-container h4 {
  color: #3BA6DE;
}

main.contato .container-contato .adress-container h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

main.contato .container-contato .adress-container h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

main.contato .container-contato .adress-container p {
  color: #16477F;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
}

main.contato .container-contato .adress-container form {
  display: flex;
  flex-direction: column;
}

main.contato .container-contato .adress-container .funcionamento-container h4 {
  font-size: 1rem;
}

main.contato .container-contato .adress-container .fone-container h5,
main.contato .container-contato .adress-container .comercial-container h5 {
  color: #16477F;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 4px 0;
}

main.contato .container-contato .adress-container .fone-container a,
main.contato .container-contato .adress-container .comercial-container a {
  margin: 4px 0;
  text-decoration: none;
  font-size: 1rem;
  color: #3BA6DE;
  font-weight: 600;
}

main.contato .container-contato .map-container {
  margin: 3rem 1rem;
  border: solid 1px #d5d4d4;
}

main.contato .container-contato .contato-form-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin: 3rem 0 0 0;
}

main.contato .container-contato .contato-form-container h4 {
  justify-content: start;
  color: #16477F;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4;
}

main.contato .container-contato .contato-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  align-items: center;
  margin: 1rem 0 0 0;
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}

main.contato .container-contato .contato-form-container form input {
  width: 90%;
  height: 2rem;
  margin: 4px 0;
  border: 1px solid #d5d4d4;
  border-radius: 6px;
  font-size: 1rem;
}

main.contato .container-contato .contato-form-container form .custom-select {
  position: relative;
  width: 92%;
  font-family: 'Titillium Web', sans-serif;
}

main.contato .container-contato .contato-form-container form .custom-select select {
  display: none;
  /*hide original SELECT element: */
}

main.contato .container-contato .contato-form-container form .select-selected {
  height: 1.2rem;
  margin: 4px 0;
  background-color: #FFFFFF;
}

main.contato .container-contato .contato-form-container form .select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #0C88D1 transparent transparent transparent;
}

main.contato .container-contato .contato-form-container form .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

main.contato .container-contato .contato-form-container form .select-items div,
main.contato .container-contato .contato-form-container form .select-selected {
  color: #b0b0b0;
  padding: 8px 9px;
  border: 1px solid #d5d4d4;
  border-color: #d5d4d4;
  border-radius: 6px;
  cursor: pointer;
}

main.contato .container-contato .contato-form-container form .select-items {
  position: absolute;
  background-color: #FFFFFF;
  margin: 4px 0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

main.contato .container-contato .contato-form-container form .select-hide {
  display: none;
}

main.contato .container-contato .contato-form-container form .select-items div:hover,
main.contato .container-contato .contato-form-container form .same-as-selected {
  background-color: rgba(204, 204, 204, 0.1);
}

main.contato .container-contato .contato-form-container form textarea {
  width: 90%;
  margin: 4px 0;
  outline: #d5d4d4 !important;
  border-color: #d5d4d4 !important;
}

main.contato .container-contato .contato-form-container form select option {
  margin: 4px 0;
}

main.contato .container-contato .contato-form-container form #nome-ct::placeholder,
main.contato .container-contato .contato-form-container form #email-ct::placeholder,
main.contato .container-contato .contato-form-container form #tel-ct::placeholder,
main.contato .container-contato .contato-form-container form #endereco-ct::placeholder {
  padding: 2.5% 2.5% 0 2.5%;
  color: #b0b0b0;
}

main.contato .container-contato .contato-form-container form #mensagem-ct::placeholder {
  padding: 2.5% 2.5% 0 2.5%;
  color: #b0b0b0;
  font-size: 1rem;
}

main.contato .submit-container {
  width: 92%;
  display: flex;
  justify-content: flex-end;
}

main.contato .submit-container .submit-file-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #F2FEFC;
  background-color: #16477F;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  height: 3rem;
  margin: 1rem 0;
  transition: 0.5s;
  padding: 0 16px;
  width: 50%;
}

main.contato .submit-container #submit-ct {
  display: none;
}

@media screen and (min-width: 1200px) {
  main.contato .map-container .map-medium {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  main.contato .container-contato {
    margin: 1rem 0;
  }
  main.contato .map-container .map-big {
    display: none;
  }
}

a, p, h1, h2, h3, h4, h5, h6, li, input, select, textarea, span {
  font-family: 'Titillium Web', sans-serif;
}

a, p, h5, h6, li, span {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-hover:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
}

footer p, footer h1, footer h2, footer h3, footer h4, footer li {
  color: #F2FEFC;
}

footer a {
  color: #3BA6DE;
}

footer .li-title {
  color: #3BA6DE;
}

footer .footer-section-1 {
  display: flex;
}

footer .footer-section-1 .linha-box-1 {
  height: 9rem;
  margin: 0 1rem 0 1rem;
  border-left: solid 0.3rem #182E5F;
}

footer .footer-section-1 .linha-box-2 {
  height: 5rem;
  margin: 0 1.5rem 0 1rem;
  border-left: solid 0.3rem #3BA6DE;
}

footer .footer-section-1 .title-contato {
  margin-bottom: 1rem;
}

footer .footer-section-1 .footer-sub-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3BA6DE;
  width: 50%;
  height: 15rem;
  line-height: 1.6;
}

footer .footer-section-1 .footer-sub-section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #53CBF4;
  width: 50%;
  height: 15rem;
}

footer .footer-section-1 .footer-sub-section-2 img {
  color: white;
  height: 5rem;
  width: 5rem;
}

footer .footer-section-2 {
  padding: 6rem 10% 4rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #16477F;
  line-height: 2;
}

footer .footer-section-2 .sec-2-sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-section-2 .sec-2-sec-1 ul {
  margin: 0 2rem 0 0;
}

footer .footer-section-2 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-section-2 .social-icons {
  display: flex;
  justify-content: left;
  transition: 0.5;
}

footer .footer-section-2 .social-icons a {
  width: 2rem;
  height: 2rem;
}

footer .footer-section-2 .social-icons > a:hover {
  scale: 1.1;
  opacity: 0.7;
}

footer .footer-section-2 .sec-2-sec-2 .sec-2-email {
  display: flex;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
}

footer .footer-section-2 .sec-2-sec-2 .sec-2-email a {
  width: 100%;
  flex-direction: row;
  white-space: nowrap;
  margin-left: 4px;
}

footer .footer-section-2 .sec-2-sec-2 a {
  text-decoration: none;
}

footer .footer-section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #182E5F;
  height: 3rem;
}

footer .footer-section-3 img {
  margin-left: 0.8rem;
  height: 1.5rem;
}

footer .footer-section-3 p {
  display: flex;
  align-items: center;
  color: #F2FEFC;
  padding-left: 2rem;
}

footer .footer-section-3 .logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}

a {
  display: block;
  width: 200px;
  height: 40px;
}
