/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, p, h1, h2, h3, h4, h5, h6, li {
  font-family: 'Titillium Web', sans-serif;
}

a, p, h5, h6, li {
  font-size: 0.9rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-hover:hover {
  opacity: 0.9;
}

.nav-container {
  width: 100%;
  position: absolute;
  z-index: 999;
}

.grad {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
  background-image: linear-gradient(to right, #182E5F, #3BA6DE);
}

.grad a {
  margin-right: 3rem;
  display: flex;
  color: #F2FEFC;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.nav-ul {
  background-color: #ffffff8a;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.nav-ul li {
  color: #16477F;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-ul li:nth-child(7) {
  margin-right: 2rem;
}

.nav-ul .logo-weblaudo {
  height: 7rem;
  margin: 0 3rem 0 3rem;
}

.btn-work-with-us {
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #16477F;
  color: #F2FEFC;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  outline: 0cm;
  border: transparent;
  margin: 0 3rem 0 3rem;
}

.carousel img {
  margin-top: -7rem;
  height: 53.125rem;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.float-box-home1 {
  margin: -26rem 31% 0 31%;
  width: 38%;
  background-color: #0b1731de;
  position: absolute;
  z-index: 999;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.float-box-home1 h1, .float-box-home1 h4 {
  color: #F2FEFC;
  margin-bottom: 1rem;
}

.float-box-home1 h1 {
  font-size: 2.5rem;
}

.float-box-home1 h4 {
  font-size: 1rem;
  text-align: center;
}

.float-box-home1 .button-wrapper-home1 {
  display: flex;
  justify-content: space-around;
}

.float-box-home1 .button-wrapper-home1 .btn1 {
  margin-right: 0.5rem;
}

.float-box-home1 .button-wrapper-home1 .btn2 {
  margin-left: 0.5rem;
}

.float-box-home1 .button-wrapper-home1 .btn-index-sec1 {
  height: 3rem;
  width: 15.5rem;
  border-radius: 0.5rem;
  background-color: #3BA6DE;
  color: #F2FEFC;
  text-transform: uppercase;
  font-size: 0.9rem;
  outline: 0cm;
  border: transparent;
}

.index-sec-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 7rem;
  background-color: #E6F4F8;
  margin: -7rem 0 -7rem 0;
  height: 42rem;
}

.index-sec-2 h1 {
  text-align: center;
  color: #3BA6DE;
  font-size: 2rem;
  font-weight: bold;
}

.index-sec-2 h4 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.index-sec-2 h4 strong {
  font-weight: bold;
}

.index-sec-2 .index-sec-2-content {
  display: flex;
  justify-content: space-around;
}

.index-sec-2 .index-sec-2-content ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.index-sec-2 .index-sec-2-content ul li {
  width: 12.3rem;
  margin: 0 1.2rem 0 1.2rem;
  line-height: 1.2;
  font-weight: 600;
}

.index-sec-2 .index-sec-2-content ul li img {
  margin-bottom: 0.5rem;
}

.index-sec-2 .index-sec-2-content ul li h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.index-sec-2 .index-sec-2-divider {
  border-bottom: 0.2rem #E62714 solid;
  margin: 2rem 47% 2rem 47%;
}

.index-sec-2 .index-sec-2-divider-2 {
  border-bottom: 0.2rem #E62714 solid;
  margin: 3rem 47% 1.6rem 47%;
}

.index-sec-2 .index-sec-2-p {
  font-size: 1rem;
  font-weight: 600;
}

.index-sec-2 .btn-contato-orange {
  display: flex;
  height: 3.5rem;
  border-radius: 0.25rem;
  color: #F2FEFC;
  font-size: 1.1rem;
  outline: 0cm;
  border: transparent;
  background-color: #E62714;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 40% 2rem 40%;
  letter-spacing: 1.5px;
  font-family: Montserrat;
}

.index-sec-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #FFFFFF;
  height: 38rem;
}

.index-sec-3 .sec-3-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.index-sec-3 .sec-3-banner-container .index-sec-3-banner {
  height: 30rem;
}

.index-sec-3 .sec-3-content {
  width: 50%;
  margin: 4rem 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.index-sec-3 .sec-3-content h1 {
  color: #16477F;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.index-sec-3 .sec-3-content h4 {
  color: #16477F;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.index-sec-3 .sec-3-content .sec-3-ul {
  display: flex;
  flex-direction: column;
  color: #16477F;
  align-items: flex-start;
  margin: 2rem 0 0 3rem;
}

.index-sec-3 .sec-3-content .sec-3-ul li {
  list-style-type: disc;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2;
}

.uppercase {
  text-transform: uppercase;
}

.wp-icon img {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 4rem;
  bottom: 2rem;
}

a, p, h1, h2, h3, h4, h5, h6, li {
  font-family: 'Titillium Web', sans-serif;
}

a, p, h5, h6, li {
  font-size: 0.9rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-hover:hover {
  opacity: 0.9;
}

footer {
  display: flex;
  flex-direction: column;
}

footer p, footer h1, footer h2, footer h3, footer h4, footer li {
  color: #F2FEFC;
}

footer a {
  color: #3BA6DE;
}

footer .li-title {
  color: #3BA6DE;
}

footer .footer-section-1 {
  display: flex;
}

footer .footer-section-1 .linha-box-1 {
  height: 9rem;
  margin: 0 1rem 0 1rem;
  border-left: solid 0.3rem #182E5F;
}

footer .footer-section-1 .linha-box-2 {
  height: 5rem;
  margin: 0 1.5rem 0 1rem;
  border-left: solid 0.3rem #3BA6DE;
}

footer .footer-section-1 .title-contato {
  margin-bottom: 1rem;
}

footer .footer-section-1 .footer-sub-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3BA6DE;
  width: 50%;
  height: 15rem;
  line-height: 1.6;
}

footer .footer-section-1 .footer-sub-section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #53CBF4;
  width: 50%;
  height: 15rem;
}

footer .footer-section-1 .footer-sub-section-2 img {
  color: white;
  height: 5rem;
  width: 5rem;
}

footer .footer-section-2 {
  padding: 6rem 20% 4rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #16477F;
  line-height: 2;
}

footer .footer-section-2 .sec-2-sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-section-2 .sec-2-sec-1 ul {
  margin: 0 2rem 0 0;
}

footer .footer-section-2 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-section-2 .social-icons {
  display: flex;
  justify-content: left;
}

footer .footer-section-2 .social-icons a {
  width: 2rem;
  height: 2rem;
}

footer .footer-section-2 .sec-2-sec-2 a {
  text-decoration: none;
}

footer .footer-section-2 .sec-2-sec-2 .fa {
  text-align: center;
  font-size: 30px;
}

footer .footer-section-2 .sec-2-sec-2 .fa-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.2rem;
}

footer .footer-section-2 .sec-2-sec-2 .fa-facebook {
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #16477F;
  margin: 0 0.5rem 0 0.5rem;
}

footer .footer-section-2 .sec-2-sec-2 .fa-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.2rem;
}

footer .footer-section-2 .sec-2-sec-2 .fa:hover {
  opacity: 0.9;
}

footer .footer-section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #182E5F;
  height: 3rem;
}

footer .footer-section-3 img {
  margin-left: 0.8rem;
  height: 1.5rem;
}

footer .footer-section-3 p {
  display: flex;
  align-items: center;
  color: #F2FEFC;
  padding-left: 2rem;
}

footer .footer-section-3 .logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}

a {
  display: block;
  width: 200px;
  height: 40px;
}
